<style>
body {
  background-color: green;
}
</style>
<script src="https://www.youtube.com/iframe_api"></script>
<div id="playerContainer">
  <div id="player"></div>
</div>

<script>
  let player;
  let socket = new WebSocket("{{ WS_URL }}/api/v1/playlist/ws");
  let videoEnded = false;
  const API_KEY = "{{ API_KEY }}";

  function loadYouTubePlayerAPI() {
    const tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/iframe_api';
    const firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  }
  // function loadYouTubePlayerAPI() {
  //   const tag = document.createElement('script');
  //   tag.src = `https://www.youtube.com/iframe_api?api=${API_KEY}`;
  //   const firstScriptTag = document.getElementsByTagName('script')[0];
  //   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  // }

  loadYouTubePlayerAPI();

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: "{{ video_id }}",
      playerVars: {
        'autoplay': 1,
        'controls': 0,
        'disablekb': 1,
        'fs': 0,
        'iv_load_policy': 3,
        'loop': 1,
        'rel': 0,
        'showinfo': 0
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  function onPlayerStateChange(event) {
    if (event.data === YT.PlayerState.ENDED) {
      videoEnded = true;
      hidePlayer();
    }
  }

  function playNewVideo(videoId) {
    if (videoEnded) {
      videoEnded = false;
      showPlayer();
    }

    if (player) {
      player.loadVideoById(videoId);
    } else {
      loadYouTubePlayerAPI();
    }
  }

  function hidePlayer() {
    document.getElementById("playerContainer").style.display = "none";
  }

  function showPlayer() {
    document.getElementById("playerContainer").style.display = "block";
  }

  socket.onmessage = function(event) {
    let newVideoId = event.data;
    console.log(newVideoId);
    if (newVideoId) {
      playNewVideo(newVideoId);
    }
  };

  const metaTag = document.createElement('meta');
  metaTag.setAttribute('http-equiv', 'Content-Security-Policy');
  metaTag.setAttribute('content', `default-src 'self' https://www.youtube.com https://www.googleapis.com 'unsafe-inline';`);
  document.head.appendChild(metaTag);

</script>
